.diagram__container {
    flex: 0 0 28%;
    text-align: center;
}

.diagram__section__title {
    color: #5B86E5;;
    font-size: 36px;
    padding-top: 12px;
    text-shadow: 2px 2px 3px rgba(46, 46, 46, 0.2);
}
    
.diagram__section__summary {
    text-align: left;
    padding-left: 100px;
    padding-top: 50px;
    font-size: 22px;
}