.header__container {
    height: 100px;
    background-color: #fff;
    box-shadow: 0 1px 8px 1px rgb(0 0 0 / 10%);
    display: flex;
}

.header__left {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #5B86E5;
}


.header__username {
    font-size: 48px;
    text-shadow: 2px 2px 3px rgba(46, 46, 46, 0.2);
}

.header__right {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

.header__avatar {
    background: lightcoral;
    color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    font-size: 24px;
    box-shadow: 8px 8px 10px 1px rgba(46, 46, 46, 0.2);
}

.header__button {
    background: #5B86E5;
    border-color: transparent;
    color: #fff;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 8px 8px 10px 1px rgba(46, 46, 46, 0.2);
    font-family: 'Quicksand', sans-serif;
}