.mainsection__container {
    min-height: 83vh;
    background: #eee;
    margin: 40px;
}

.mainsection__top {
    height: 50%;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.mainsection__clock {
    min-height: 400px;
    flex: 0 0 39%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 1px rgba(156, 156, 156, 0.2);
}

.mainsection__requests {
    min-height: 400px;
    flex: 0 0 59%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 1px rgba(156, 156, 156, 0.2);
}

.mainsection__bottom {
    min-height: 600px;
    background-color: #fff;
    margin: 30px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 1px rgba(156, 156, 156, 0.2);
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
