.sessions__container {
    flex: 0 0 68%;
    padding-left: 40px;
}

.sessions__section__title {
    color: #5B86E5;
    font-size: 36px;
    padding: 12px 0 18px 0;
    text-shadow: 2px 2px 3px rgba(46, 46, 46, 0.2);
}

.sessions__section__subtitle {
    color: #5B86E5;
    font-size: 32px;
    padding-top: 12px;
    text-shadow: 2px 2px 3px rgba(46, 46, 46, 0.2);
}

.sessions__session__container {
    display: flex;
    color: rgb(104, 103, 103);
    justify-content: space-around;
    max-width: 100%;
    border-bottom: 1px solid #03b2cb;
}

.sessions__session__item {
    flex: 0 0 32%;
    font-size: 22px;
    padding: 8px 0;
    position: relative;
}
